<%- include('partials/header') %>
<link rel="stylesheet" href="admin/css/add_product_style.css">

<div class="app-wrapper">

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="row g-3 mb-4 align-items-center justify-content-between">
                <div class="col-auto">
                    <!-- <h1 class="app-page-title mb-0">Coupon Management</h1> -->
                </div>
            </div><!--//col-auto-->
        </div><!--//row-->
    </div><!--//app-content-->

    <form id="couponForm" onsubmit="couponForm(event)">
        <div class="form-group">
            <label for="coupon_code">Coupon Code:</label>
            <input type="text" id="coupon_code" name="coupon_code" placeholder="8 characters is required" required>
            <small id="coupon_code_error" class="error-message" style="display:none;">Coupon code is required</small>
        </div>

        <div class="form-group">
            <label for="discount">Discount Percentage:</label>
            <input type="number" id="discount" name="discount" required min="0" max="100" placeholder="">
            <small id="discount_error" class="error-message" style="display:none;">Discount is required</small>
        </div>

        <div class="form-group">
            <label for="expiry_date">Expiry Date:</label>
            <input type="date" id="expiry_date" name="expiry_date" required>
            <small id="expiry_date_error" class="error-message" style="display:none;">Expiry date is required</small>
        </div>

        <div class="form-group">
            <label for="count">Max Usage Count:</label>
            <input type="number" id="count" name="count" min="0" required>
            <small id="count_error" class="error-message" style="display:none;">Count is required</small>
        </div>

        <div class="form-group">
            <label for="minPurchaseValue">Minimum Purchase Value:</label>
            <input type="number" id="minPurchaseValue" name="minPurchaseValue" min="0" required>
            <small id="minPurchaseValue_error" class="error-message" style="display:none;">Min Purchase Value is required</small>
        </div>

        <div class="form-group full-width buttons">
            <button type="button" class="cancel-button" onclick="location.href='/admin/coupons'">Cancel</button>
            <button type="submit" class="add-button" id="add_button">ADD USER</button>
        </div>
    </form>

    <footer class="app-footer">
        <div class="container text-center py-3">
            <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="app-link" href='#' target="_blank">Sanu Shifan</a> for my Project</small>
        </div>
    </footer><!--//app-footer-->
</div><!--//app-wrapper-->


<script src="admin/js/coupons.js"></script>