<%-include('partials/header')%>
<link rel="stylesheet" href="admin/css/sales_report.css">
			    
<div class="app-wrapper">
           
    <script>
        let orders = '<%- JSON.stringify(orders) %>';
            orders = JSON.parse(orders)
    </script>
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <div class="mb-3 d-flex">   
                <h2 class="mb-0">Sales Report</h2>

                <select id="filterSelect" class="form-select form-select-sm ms-auto d-inline-flex w-auto ">
                    <option value="week" selected>This week</option>
                    <option value="day">Today</option>
                    <option value="month">This Month</option>
                    <option value="year">This Year</option>
                </select>
                <div>
                    <input type="date" id="custom_date" name="custom_date" onkeydown="return false" required>
                    <small id="expiry_date_error" class="error-message" style="display:none;">Expiry date is required</small>
                </div>
            </div>
            <!-- <h4 class="text-center">Sales report</h4> -->
            <div class="mb-3 d-flex justify-content-end" >  
                <div class="sales_report_btn" onclick="downloadPDF()">Download PDF</div>
                <div class="sales_report_btn" onclick="downloadExcel()">Download Excel</div>
            </div>
            
                <div class="col-auto">
                    <div class="page-utilities">
                        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            <div class="col-auto">
                            
                        </div><!--//col-->
                    </div><!--//row-->
                </div><!--//table-utilities-->
        </div><!--//row-->
       
        
        <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
            <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">
                Saled Orders
            </a>
            <!-- <a class="flex-sm-fill text-sm-center nav-link"  id="orders-paid-tab" data-bs-toggle="tab" href="#orders-paid" role="tab" aria-controls="orders-paid" aria-selected="false">Delivered Orders</a> -->
        </nav>
        
        
        <div class="tab-content" id="orders-table-tab-content">
            <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table app-table-hover mb-0 text-left" id="sales_table">
                                <thead>
                                    <tr>
                                        <th class="cell">Order id</th>
                                        <th class="cell">Name</th>
                                        <th class="cell">Payment</th>
                                        <th class="cell">Order date</th>
                                        <th class="cell">Address</th>
                                        <th class="cell">Final Price</th>	 
                                    </tr>
                                </thead>
                                <tbody id="table_body">
                                    <!-- DYnamically adding data -->
                                </tbody>
                            </table>
                        </div><!--//table-responsive-->
                       
                    </div><!--//app-card-body-->		
                </div><!--//app-card-->
            </div><!--//tab-pane full data-->       
        </div><!--//tab-content-->
       
    </div><!--//container-fluid-->
</div><!--//app-content-->

</div><!--//app-wrapper-->   

<script src="admin/js/sales_report.js"></script>

<!-- Include jsPDF and jsPDF autoTable -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>

<!-- Include xlsx library for Excel file generation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
