.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    /* margin: 20px 0; */
    margin-bottom: 20px;
}

.pagination a {
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
}

.pagination a.active {
    background-color: #616161;
    color: #fff;
    /* border-color: #007bff; */
}
