<html>
<head>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="user/css/login_style.css">
  
  <!-- sweet alert  -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>

  <!-- iziToast alert -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">
  <script src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js" defer></script>
      
  <!-- Main js -->
  <script src="user/js/login.js" defer></script>

  <title>Gadgetory | Log in</title>
  <link rel="icon" href="assets/icons/gadgetory-favicon.png" type="image/x-icon">


</head>
<body>
  <section class="bg-light p-3 p-md-4 p-xl-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-xxl-9">
          <div class="card border-light-subtle shadow-sm">
            <div class="row g-0">

              <!-- <div class="col-12 col-md-6">
                <img class="login-image rounded-start " width="85%"
                  src="assets/backgroud/login_bg.png" alt="Welcome back you've been missed!">
              </div> -->
              <div class="login-image object-fit-cover rounded-start col-12 col-md-6" style=" background: url('assets/backgroud/login_bg.png') no-repeat center;  background-size: cover;">
              </div>
              
              <div class="col-12 col-md-6 d-flex justify-content-center">

                <div class="col-12 col-lg-11 col-xl-10 pt-5">

                  <h2 style="margin-left: 1.5rem;">Log In</h2>
                  <div class="card-body   p-xl-4">

                    <form action="/login" method="post" id="loginForm" onsubmit="submit_form(event)">
                      <div class="row overflow-hidden">
                        <div class="col-12 mb-2">
                          <div class="form-floating ">
                            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                            <label for="email" class="form-label">Email</label>
                          </div>
                        </div>
                        <div class="col-12 mt-2">
                          <div class="form-floating">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                            <label for="password" class="form-label">Password</label>
                          </div>
                        </div>
                        <div class="col-12 mt-2 mb-2 text-end">
                          <a href="/forgot_password" class="text-decoration-none">Forgot password</a>
                        </div>
                        <div class="col-12">
                          <div class="d-grid">
                            <button class="btn btn-dark btn-lg" type="submit" aria-label="Log in">Log in now</button>
                          </div>
                        </div>
                      </div>
                    </form>

                    <div class="row">
                      <div class="social-icons">

                        <a href="/auth/google"><img src="assets/icons/google_logo.png" alt="Google" class="icon"></a>
                        <!-- <a href="/auth/facebook"><img src="assets/icons/facebook_logo.png" alt="Facebook" class="icon"></a> -->
                      
                      </div>
                      <div style="text-align: center;">
                        <p class="create-account ">Create account ? <a href="/signup">Sign up</a></p>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


 
</body>

</html>