
<head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="user/css/login_style.css">


    <style>
      /* Style for error messages */
      .error-message {
          color: red;
          font-size: 0.830rem;
          display: none;
      }
  </style>

    <script src="user/js/signup.js" defer></script>
</head>

<body>
  <section class="bg-light p-3 p-md-4 p-xl-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-xxl-9">
          <div class="card border-light-subtle shadow-sm">
            <div class="row g-0">
              <div class="col-12 col-md-6">
                <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy"
                  src="assets/backgroud/login_bg.png" alt="Welcome back you've been missed!">
              </div>
              <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="col-12 col-lg-11 col-xl-10">


                  <h2 class="mt-5" style="margin-left: 1rem; ">Sign Up</h2>
                  <div class="card-body  ">


                    <form action="/signup" method="post" id="signupForm" >
                      <div class="row gy-1 overflow-hidden">
                        
                        <div class="col-12">
                          <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" required>
                            <label class="form-label" for="first_name">First Name</label>
                            <div id="firstNameError" class="error-message">First name should only contain letters.</div>
                          </div>
                        </div>
                    
                        <div class="col-12">
                          <div class="form-floating mb-2">
                            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" required>
                            <label class="form-label" for="last_name">Last Name</label>
                            <div id="lastNameError" class="error-message">Last name should only contain letters.</div>
                          </div>
                        </div>
                    
                        <div class="col-12">
                          <div class="form-floating mb-2">
                            <input type="tel" class="form-control" name="phno_number" id="phno_number" placeholder="xxxxxxxxx" required>
                            <label class="form-label" for="phno_number">Mobile Number</label>
                            <div id="phoneError" class="error-message">Please enter a 10-digit phone number.</div>
                          </div>
                        </div>
                    
                        <div class="col-12">
                          <div class="form-floating mb-2">
                            <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                            <label class="form-label" for="email">Email</label>
                            <div id="emailError" class="error-message">Please enter a valid email address.</div>
                            <div id="used_email" class="error-message">Email is already Used</div>

                          </div>
                        </div>
                    
                        <div class="col-12">
                          <div class="form-floating mb-2">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                            <label class="form-label" for="password">Password</label>
                            <div id="passwordError" class="error-message">Password must be at least 8 characters long and include a mix of letters, numbers, and special characters.</div>
                          </div>
                        </div>
                    
                        <div class="col-12">
                          <div class="d-grid">
                            <button class="btn btn-dark btn-lg" type="submit">Sign Up</button>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="row">
                        <div class="social-icons ">
                          <a href="/auth/google"><img src="assets/icons/google_logo.png" alt="Google" class="icon"></a>
                        </div>
                        <div style="text-align: center;">
                          <p class="create-account ">Already have account ? <a href="/login">Log in</a></p>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

