<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion user">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gadgetory</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="user/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="user/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="user/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="user/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="user/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="user/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="user/css/style.css" type="text/css">
    <link rel="stylesheet" href="user/css/common_style.css" type="text/css">

    
    <!-- Js Plugins -->
    <script src="user/js/jquery-3.3.1.min.js" defer></script>
    <script src="user/js/bootstrap.min.js" defer></script>
    <script src="user/js/jquery.nice-select.min.js" defer></script>
    <script src="user/js/jquery.nicescroll.min.js" defer></script>
    <script src="user/js/jquery.magnific-popup.min.js" defer></script>
    <script src="user/js/jquery.countdown.min.js" defer></script>
    <script src="user/js/jquery.slicknav.js" defer></script>
    <script src="user/js/mixitup.min.js" defer></script>
    <script src="user/js/owl.carousel.min.js" defer></script>
    <script src="user/js/main.js" defer></script>
    <script src="user/js/header.js" defer></script>


    <!-- sweet alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>

    <!-- iziToast alert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast/dist/css/iziToast.min.css">
    <script src="https://cdn.jsdelivr.net/npm/izitoast/dist/js/iziToast.min.js" defer></script>
    
</head>
<style>

    .search-bar {
        display: flex;
        justify-content: space-around;
        min-width: 70%;
        padding: 3px;
        margin-right: 15px;
        border: 0px solid #ccc;
        border-radius: 7px;
        background-color: #f5f5f5;
    }

    .search-bar input {
        min-width: 70%;
        border: 0px solid #ccc;
        border-radius: 7px;
        background-color: #f5f5f5;
    }
    .search-bar form{
        padding: 0;
        margin: 0;
    }
    .nav-icons{
	    padding: 5px 0;
        border: 0px;
        background: none;
    }
    
</style>

<div id="search-results"></div>


<!-- Page Preloder -->
<!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->
<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <a href="#">Sign in</a>
            <a href="#">FAQs</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul>
                <li>USD</li>
                <li>EUR</li>
                <li>USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="img/icon/search.png" alt="">
            
        </a>
        <a href="#"><img src="img/icon/heart.png" alt=""></a>
        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <!-- <a href="#">Sign in</a> -->
                            <a href="/logout">Logout</a>
                            <a href="#">FAQs</a>
                        </div>
                        <div class="header__top__hover">
                            <span>Usd <i class="arrow_carrot-down"></i></span>
                            <ul>
                                <li>USD</li>
                                <li>EUR</li>
                                <li>USD</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- nav Barr -->
    <div class="container">
        <!-- First row Header BAR -->
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="header__logo">
                    <a href="/homepage">
                        <h3><b>Gadgetory</b></h3>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="<%= active_page === 'home'? 'active':'' %>"><a href="/homepage">Home</a></li>
                        <li class="<%= active_page === 'shop'? 'active':'' %>"><a href="/shop">Shop</a></li>
                        <li class="<%= active_page === 'pages'? 'active':'' %>"><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="/orders">Orders</a></li>
                                <li><a href="/shopping_cart">Shopping Cart</a></li>
                                <li><a href="/wishlist">Wishlist</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_page === 'profile'? 'active':'' %>"><a href="/profile">Profile</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="header__nav__option " >

                    <!-- searching bar -->

                    
                    <form onsubmit="performSearch(event)" class="search-bar">
                        <input type="text" id="search-input" placeholder="Search here..." autocomplete="off">
                        <button type="submit" class="nav-icons">
                            <svg width="23px" height="23px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="#444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>                    
                        </button>

                    </form>
                    
                    <div class="nav-icons">
                        <a href="/wishlist">
                            <svg  width="23px" height="23px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z" stroke="#444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                            <div id="wishlist_badge" class="count-badge badge rounded-pill">
                                
                            </div>
                        </a>
                        <a href="/shopping_cart">
                            
                            <svg width="20px" height="20px" viewBox="0 0 24 24" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><defs><style>.cls-1{fill:none;stroke:#444;stroke-miterlimit:10;stroke-width:1.91px;}</style></defs><path class="cls-1" d="M3.41,7.23H20.59a0,0,0,0,1,0,0V19.64a2.86,2.86,0,0,1-2.86,2.86H6.27a2.86,2.86,0,0,1-2.86-2.86V7.23A0,0,0,0,1,3.41,7.23Z"></path><path class="cls-1" d="M7.23,10.09V6.27A4.77,4.77,0,0,1,12,1.5h0a4.77,4.77,0,0,1,4.77,4.77v3.82"></path></g></svg>
                            <div id="cart_badge" class="count-badge badge rounded-pill">
                                
                            </div>
                        </a>
                        <a href="/wallet">
                            <svg width="24px" height="24px" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg" stroke=""><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M20 15C20.5523 15 21 14.5523 21 14C21 13.4477 20.5523 13 20 13C19.4477 13 19 13.4477 19 14C19 14.5523 19.4477 15 20 15Z" fill="#444"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M16.775 0.985398C18.4919 0.460783 20.2821 1.55148 20.6033 3.3178L20.9362 5.14896C22.1346 5.54225 23 6.67006 23 8V10.7639C23.6137 11.3132 24 12.1115 24 13V15C24 15.8885 23.6137 16.6868 23 17.2361V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V8C1 6.51309 2.08174 5.27884 3.50118 5.04128L16.775 0.985398ZM21 16C21.5523 16 22 15.5523 22 15V13C22 12.4477 21.5523 12 21 12H18C17.4477 12 17 12.4477 17 13V15C17 15.5523 17.4477 16 18 16H21ZM21 18V20C21 20.5523 20.5523 21 20 21H4C3.44772 21 3 20.5523 3 20V8C3 7.44772 3.44772 7 4 7H20C20.55 7 20.9962 7.44396 21 7.99303L21 10H18C16.3431 10 15 11.3431 15 13V15C15 16.6569 16.3431 18 18 18H21ZM18.6954 3.60705L18.9412 5H10L17.4232 2.82301C17.9965 2.65104 18.5914 3.01769 18.6954 3.60705Z" fill="#444"></path> </g></svg>
                        </a>
                        <div class="price"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<script>

    function performSearch(event) {
      event.preventDefault();
    
      const query = document.getElementById('search-input').value.trim();
      if (query) {
    
        window.location.href = `/shop?query=${encodeURIComponent(query)}`;
      }
    }
      </script>
<!-- Header Section End -->